
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400&display=swap');

*{

    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;

} 

.container{

    position: relative;
    width: 100%;
    height: 100%;
    /* 1vh=1% */
    background-color: rgb(4, 4, 34);
    background-size: cover;
}

nav{

    display: flex;
    width:90%;
    margin-left: 100px;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

nav .logo{

    width: 140px;
    border-radius: 90px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top:25px;
}

nav ul li{

    display:inline-block;
    margin: 30px 50px;
    
}

nav ul li a{

    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
}

/* pseudo class-to get special effect on mouse hover 

selector:pseudo-class-name{property value}*/

nav ul li a:hover{

    color:goldenrod;
    
}


/* home section */
#home{
    height: 60vh;
    
}

.title{

    margin-left: 8%;
    margin-top: 13%;

}

.title h1{

    font-size: 80px;
    color: white;
    margin-bottom: 20px;

}


.title span{

    color: goldenrod;
}

.title p{

    color: white;
    line-height: 30px;
    font-size: 25px;

}

.title a{
    background-color: goldenrod;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{

    
    position: absolute;
    right: 250px;
    top: 300px;
    height: 150px;
    width: 350px;
    
}

.images img{

    
    
    width: 100%;
    border-radius: 30px;
    border: 2px;
    opacity: 0.4;
    
   
    
}
.images img:hover{
    transform: scale(1.1);
    transition: all 3s ease;
}

#about{
    background-color: rgba(88, 100, 131, 0.516);
    padding: 50px;
    width: 100%;
    height: 90vh;
    
    
    
}

.heading{

    text-align: center;
    
    font-size: 40px;
    color: goldenrod;
}



.heading span{

    font-size: 25px;
    color: white;
}

.about-content{

    
    
}

.about-img img{
    
    margin-left: 50px;
    width: 40%;
   border-radius:60px;
   
}

.about_text{
     
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
    color: white;
    margin-right: 100px;
}

.information{

    margin:1rem  0 1.4rem;
    justify-content: space-between;
}

.information .info_box{

    display: flex;
    align-items: center;
    margin-bottom: 1rem;


}

.information .info_box span{

    font-weight: 500;
    margin-left: 15px;
    
}

#skills{

    margin-left: 8%;
    margin-top: 13%;
    margin-right: 8%;
}

.skill-container{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.skill-img img{

    width: 80%;
    object-position: center;
    padding-left: 4rem;
    border-radius: 40px;
}

.bar-box{

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.bar-box h3{

    font-size: 25px;
    font-weight: 800;
    color: white;
    margin-bottom: 2%;


}

.bar-box span{

    font-size: 23px;
    font-weight: 700;
    color: goldenrod;
}

.light-bar{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28px;
    background-color: goldenrod;
    border-radius: 8px;
}

.percent-bar{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28px;
    background-color: white;
    border-radius: 8px;
}

.html-bar{

    width: 90%;
}

.css-bar{

    width: 87%;

}

.js-bar{

    width: 67%;
}

.angular-bar{

    width: 60%;
}


#contact{

    margin-left: 8%;
    margin-top: 13%;
    margin-right: 8%
}

.iconDiv{

    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.icon{

    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    background-color: white;


}



.icon i{

    font-size: 20px;
    color:goldenrod;
}

.icon i:hover{

    color:black;
}

footer{

    margin-top: 2rem;
    color: white;
}


@media(max-width:600px){
    .container{
        margin-right: 200px;
    }

    nav{
     

        display: flex;
        width:85%;
        margin-left: 10px;
        align-items: center;
        justify-content: space-between;
    }
    
    nav .logo{
    
        width: 45px;
        border-radius: 90px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-top:25px;
    }
    
    nav ul li{
        
        display:inline-block;
        margin: 5px 3px;
        
    }

    nav ul li a{

        text-decoration: none;
        color:white;
        font-weight: bold;
        font-size: 15px;
    }

    #home{
        height: 80vh;
        
    }
    
    
    .title h1{

        font-size: 50px;
        color: white;
        margin-bottom: 2px;
        margin-top: -30px;
    
    }
    
    
    .title span{
    
        color: goldenrod;
    }
    
    .title p{
    
        color: white;
        line-height: 30px;
        font-size: 25px;
        margin-right: 50px;
    
    }

    .images img{

        margin-top: 100px;
        margin-left: 300px;
        width: 70%;
        border-radius: 30px;
        border: 2px;
        opacity: 0.4;
        
       }

       #about{
        background-color: rgba(88, 100, 131, 0.516);
        padding: 50px;
        width: 100%;
        height: 290vh;
        
        
        
    }

    .skill-img img{

        
        margin-top: 500px;
        width: 80%;
        object-position: center;
        padding-left: 4rem;
        border-radius: 0px;
        margin-left: -130px;
    }

    .bar-box{

        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        margin-bottom: 1rem;
        margin-right: -170px;
    }

    .bar{
        margin-top: -100px;
    }
    
    #about .heading{
        margin-left: -100px;
    }
    
    
    
    
    
}